/* shared style  */
* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* header section style  */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
}

.flower1 {
    height: 650px;
    padding-top: 40px;

}

.section1-left-text {
    color: #272727;
    font-family: Lato;
    font-size: 70px;
    padding-bottom: 35px;
}

.section1-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    padding-bottom: 30px;
}

.btn-primary {
    color: #FFF;
    font-family: Lato;
    font-size: 25px;
    border-radius: 6px;
    background: #E55473;
    border: none;
    padding: 7px 20px;
}

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
}

.section1-text-container {
    padding-left: 50px;
}

.section1-right-image {
    margin-bottom: -5px;
}



/* this is bonus part css */

.bonus-container {
    background: #FFF;
}

.bonus-header {
    margin-top: 150px;
    text-align: center;
    padding-bottom: 10px;
    font-size: 35px;
}

.bonus-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    padding-bottom: 30px;
    text-align: center;
}

.bonus-img1 {
    width: 320px;
    height: 350px;
    padding: 0px 20px;
    padding-top: 50px;
}

.bonus-img2 {
    width: 320px;
    height: 350px;
    padding: 0px 20px;
    padding-top: 50px;
}


.bonus-img3 {
    width: 320px;
    height: 350px;
    padding: 0px 20px;
    padding-top: 50px;
}

.bonus-img-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bonus-boxe-img1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.bonus-boxe-img2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.bonus-boxe-img3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.bonus-caption {
    display: flex;
    justify-content: space-around;
    padding: 10px 190px 0px 190px;
}

.bonus-caption h4 {
    text-decoration-line: underline;
    color: #272727;
    font-family: Lato;
    font-size: 18px;
}

/* this is banner section  */

.bonus-banner {
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1200px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 40px;
    text-align: center;
}

/* this is hot deal section css */