/* shared style  */
* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    color: #FFF;
    font-family: Lato;
    font-size: 25px;
    border-radius: 6px;
    background: #E55473;
    border: none;
    padding: 7px 20px;
}

.primary-color {
    color: #E55473;
}

/* header section style  */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
}

.flower1 {
    height: 650px;
    padding-top: 40px;

}

.section1-left-text {
    color: #272727;
    font-family: Lato;
    font-size: 70px;
    padding-bottom: 35px;
}

.section1-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    padding-bottom: 30px;
}


.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 100vh;
    margin: auto;
}

.section1-text-container {
    padding-left: 50px;
}

.section1-right-image {
    margin-bottom: -28px;
}



/* this is bonus part css */

.bonus-container {
    background: #FFF;
}

.bonus-header {
    margin-top: 150px;
    text-align: center;
    padding-bottom: 10px;
    font-size: 35px;
}

.bonus-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    padding-bottom: 30px;
    text-align: center;
}

.bonus-img1 {
    width: 320px;
    height: 350px;
    padding: 0px 20px;
    padding-top: 50px;
}

.bonus-img2 {
    width: 320px;
    height: 350px;
    padding: 0px 20px;
    padding-top: 50px;
}


.bonus-img3 {
    width: 320px;
    height: 350px;
    padding: 0px 20px;
    padding-top: 50px;
}

.bonus-img-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bonus-boxe-img1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.bonus-boxe-img2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.bonus-boxe-img3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.bonus-caption {
    display: flex;
    justify-content: space-around;
    padding: 10px 190px 0px 190px;
}

.bonus-caption h4 {
    text-decoration-line: underline;
    color: #272727;
    font-family: Lato;
    font-size: 18px;
}

/* this is banner section  */

.bonus-banner {
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 40px;
    width: 69vw;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;

    text-align: center;
}
.bonus-banner h4{
    color: rgba(39, 39, 39, 0.80);
}

/* this is hot deal section css */

.hot-deal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-deal-text>p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;

}

/* instagram section css */
.Instagram-text {
    text-align: center;
    margin-top: 90px;
}

.Instagram-text>p {
    padding-top: 10px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
}


.insta-img {
    width: 250px;
}

.instagram-img-boxes {
    display: flex;
    gap: 25px;
    width: 69vw;
    margin: auto;
    margin-top: 50px;

}



/* this is insta banner  part css */

.insta-banner {
    background-image: url('/images/instagram/background\ Rectangle.png');
    background-size: cover;
    padding-left: 33px;
    width: 1037px;
    height: 327px;
    margin: auto;
    margin-top: 80px;
}

.insta-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    padding: 70px 0 7px 0;
}

.insta-decription {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
}

.insta-input {
    width: 500px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background: #FFF;
}

.insta-input[placeholder] {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
}

.insta-input-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    pa
}

.btn-insta {
    margin-left: 15px;
    font-size: 18px;
    padding: 7px 10px;
}

.footer {
    text-align: center;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111010;
    margin-top: 100px;
}

.footer-h1 {
    color: #E55473;
    font-size: 48px;
    padding-bottom: 10px;
}